[run]
source = app
omit = 
    app/tests/*
    app/migrations/*
    app/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError 